<!-- Loop over each object in the projects array -->
{{> sidebar}}

{{#if logged_in}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h1>
        name
        {{{subs.name}}}
      </h1>
      <h2>
        email:
        {{{subs.email}}}
      </h2>
      <h3>
        Subscribed threads:
        {{#each subs.users_subscribed_threads as |threads|}}
          <p>
            {{threads.thread_name}}
          </p>
        {{/each}}
      </h3>
    </div>
  </div>

{{else}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h1>
        Please Log in to see subscribed threads
      </h1>
    </div>
  </div>
{{/if}}

<!-- Loop over each object in the projects array -->
{{!-- {{#each groups as |group|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h1>
        Group:
        {{group.id}}
        {{group.group_name}}
      </h1>
      <h3>
        Users in group:
        {{#each group.group_members as |user|}}
          <p>
            {{user.name}}
          </p>
        {{/each}}
      </h3>
      <p>Message:
        {{#each group.messages as |message|}}
          <p>
            {{message.message}}
          </p>
        {{/each}}
      </p>
    </div>
  </div>
{{/each}} --}}