<!-- Loop over each object in the projects array -->
<div class="threads-span row m-4 project w-full">
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Category:
    </p>
    <p class="pl-2">
      {{threads.[0].category.category_name}}
    </p>
  </div>
  <p class="pt-5 font-medium"> 
    Threads:
  </p>
  {{#each threads as |thread|}}
    <button class="block my-5 p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100" id="{{thread.id}}">
      {{thread.thread_name}}
      {{thread.user.name}}
      {{thread.user.email}}
      {{thread.date_created}}
    </button>
  {{/each}}
</div>

<script src="../js/threads.js"></script>