{{> sidebar}}

<!-- print data about thread -->
<div class="row m-4 project w-full">
  {{#unless thread.is_active}}
    <h5 class="font-mono font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 text-center">
      Thread Suspended
    </h5>{{/unless}}
  <div class="inline-flex w-full">
    <div>
  
  <div class="inline-flex w-full">
    <p class="font-mono w-28 font-medium">
      Category:
    </p>
    <p class="pl-2">
      {{thread.category.category_name}}

    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="font-mono w-28 font-medium">
      Thread:
    </p>
    <p class="font-mono pl-2" id="thread-id" thread="{{thread.id}}">
      #{{thread.id}}
      {{thread.thread_name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="font-mono w-28 font-medium">
      Created by:
    </p>
    <p class="font-mono pl-2">
      {{thread.user.name}}
    </p>
  </div>
  </div>
  <div class="w-full">
    <p class="font-mono p-2 w-full grid justify-items-end">
      <!-- only allow user to subscribe/unsub if logged in -->
      {{#if logged_in}}
      <!-- if active then allow subscription changes -->
        {{#if thread.is_active}}
          <!-- if subscribed then show unsub button -->
          {{#if subscribed}}
            <button
              class="font-mono xl:w-1/4 md:w-1/2 sm:w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="submit"
              subscribed="false"
              id="subscription"
            >Unsubscribe</button>
          {{else}}
          <!-- if unsubscribed then show subscribe button -->
            <button
              class="font-mono xl:w-1/4 md:w-1/2 sm:w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="submit"
              subscribed="true"
              id="subscription"
            >Subscribe</button>
          {{/if}}
        {{/if}}
      {{/if}}
    </p>
    <p class="font-mono p-2 w-full grid justify-items-end">
      <!-- if the user is the creator of the thread -->
      {{#if isCreator}}
        <!-- if the thread is active then show suspend thread -->
        {{#if thread.is_active}}
          <button
            class="font-mono xl:w-1/4 md:w-1/2 sm:w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
            locked="false"
            id="locked"
          >Suspend Thread</button>
        <!-- if the thread is suspended then show resume thread -->
        {{else}}
          <button
            class="font-mono xl:w-1/4 md:w-1/2 sm:w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
            locked="true"
            id="locked"
          >Resume Thread</button>
        {{/if}}
      {{/if}}
    </p>
  </div>
  </div>
  <p class="font-mono pt-10 text-xl font-bold">
    Posts:
  </p>
  <!-- loop through all posts to print them to screen -->
  {{#each thread.posts as |post|}}
    <div
      class="block my-5 p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md"
    >
      <h5 class="font-mono font-medium leading-tight text-xl mt-0 mb-2 text-blue-600">
        {{post.post}}
      </h5>
      <div class="inline-flex pt-3 w-full bg-grey">
        <p class="font-mono text-sm">
          Posted by:
          {{post.user.name}}
          on
          {{format_date post.date_created}}

        </p>
      </div>
    </div>

  {{/each}}

  <!-- if the thread is active and user logged in allow user to post -->
  {{#if logged_in}}
    {{#if thread.is_active}}
      <form class="form post-form w-full">
        <div class="form-group w-full">
          <textarea
            class="p-6 font-mono form-input h-20 w-full rounded-lg border border-gray-200 shadow-md"
            type="text"
            placeholder="Create new post..."
            id="new-post"
          ></textarea>
        </div>
        <div class="form-group w-full text-center">
          <button
            class="font-mono mt-5 py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
          >Create</button>
        </div>
      </form>
      <script src="../js/post.js"></script>
    {{/if}}
  {{/if}}
</div>

{{#if isCreator}}
  <script src="../js/lockThread.js"></script>
{{/if}}