<!-- Loop over each object in the projects array -->
<div class="row m-4 project w-full">
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Category:
    </p>
    <p class="pl-2">
      {{thread.category.category_name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Thread:
    </p>
    <p class="pl-2" id="thread-id" thread="{{thread.id}}">
      #{{thread.id}}
      {{thread.thread_name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Created by:
    </p>
    <p class="pl-2">
      {{thread.user.name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Subscription:
    </p>
    <p class="pl-2">
      {{count}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Freeze:
    </p>
    <p class="pl-2">
      {{isCreator}}
    </p>
  </div>
  <p class="pt-5 font-medium">
    Posts:
  </p>
  {{#each thread.posts as |post|}}
    <div
      class="block my-5 p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
    >
      <p>
        {{post.post}}
      </p>
      <div class="inline-flex pt-3">
        <p class="text-sm">
          {{post.user.name}}
        </p>
        <p class="pl-2 text-sm italic text-slate-400">
          {{post.date_created}}
        </p>
      </div>
    </div>
  {{/each}}
  <div class="inline-flex justify-center w-full">
    <form class="form post-form">
      <div class="form-group">
        <label for="new-post">Post:</label>
        <input class="form-input" type="textarea" id="new-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/post.js"></script>