<!-- Loop over each object in the projects array -->
<div class="row m-4 project w-full">
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Category:
    </p>
    <p class="pl-2">
      {{thread.category.category_name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Thread:
    </p>
    <p class="pl-2" id="thread-id" thread="{{thread.id}}">
      #{{thread.id}}
      {{thread.thread_name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="w-28 font-medium">
      Created by:
    </p>
    <p class="pl-2">
      {{thread.user.name}}
    </p>
  </div>
  <div class="inline-flex w-full">
    <p class="pl-2">
      {{#if logged_in}}
        {{#if subscribed}}
          <button
            class="w-full bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary"
            type="submit"
            subscribed="false"
            id="subscription"
          >UnSubscribe</button>
        {{else}}
          <button
            class="w-full bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary"
            type="submit"
            subscribed="true"
            id="subscription"
          >Subscribe</button>
        {{/if}}
      {{/if}}
    </p>
    <p class="pl-2">
      {{#if isCreator}}
        {{#if thread.is_active}}
          <button
            class="w-full bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary"
            type="submit"
            locked="false"
            id="locked"
          >Suspend Thread</button>
        {{else}}
          <button
            class="w-full bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary"
            type="submit"
            locked="true"
            id="locked"
          >Resume Thread</button>
        {{/if}}
      {{/if}}
    </p>
  </div>
  <p class="pt-5 font-medium">
    Posts:
  </p>
  {{#each thread.posts as |post|}}
    <div
      class="block my-5 p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md"
    >
      <p>
        {{post.post}}
      </p>
      <div class="inline-flex pt-3">
        <p class="text-sm">
          {{post.user.name}}
        </p>
        <p class="pl-2 text-sm italic text-slate-400">
          {{post.date_created}}
        </p>
      </div>
    </div>
  {{/each}}

  {{#if logged_in}}
    {{#if thread.is_active}}
      <form class="form post-form inline-flex w-full">
        <div class="form-group w-11/12">
          <input
            class="form-input h-10 w-full border border-gray-200 shadow-md"
            type="text"
            placeholder="Create new post..."
            id="new-post"
          />
        </div>
        <div class="form-group w-1/12">
          <button
            class="w-full bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary"
            type="submit"
          >Create</button>
        </div>
      </form>
      <script src="../js/post.js"></script>
    {{/if}}
  {{/if}}
</div>

{{#if isCreator}}
  <script src="../js/lockThread.js"></script>
{{/if}}

